*{
  margin: 0;
  padding: 0;
}

body{
  background: white;
  color:black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
}

.wrapper{
  width: 1280px;
  margin: 50px auto;
}

header{
  position: relative;
}

header .logo{
  font-weight: 600;
  font-size: 20px;
}

header ul.navigation{
  float:right;
  list-style: none;
}

header ul.navigation li{
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500 ease;
}

header ul.navigation li:hover{
  opacity: 0.5;
}

header .shop-cart-buton{
  float: right;
  cursor: pointer;
  transition: color, transform 500ms ease;
} 

header .shop-cart-buton:hover, 
header .shop-cart-buton.active {
  color: red;
  transform: scale(1.5);
}

header .shop-cart{
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  background: #f5f3f3;
  -webkit-box-shadow: 4px 5px 15px -7px #606060;
  box-shadow: 4px 5px 15px -7px #606060;
  z-index: 1000;

  padding: 20px;
  padding-bottom: 0;

}

header .shop-cart .empty h2{
  font-size: 20px;
  margin-bottom: 20px;
}

header .shop-cart .item{
  width: 100%;
  float: left;
  margin-bottom: 20px;

}

header .shop-cart .item img{
  width: 70px;
  float: left;
  margin-right: 20px;
}

header .shop-cart .item h2{
  font-size: 20px;
  margin-bottom: 10px;

}

header .shop-cart .item p{
  color:#606060;
  font-weight: 600;
}

header .shop-cart .delete-icon{
  color:rgb(255, 103, 103);
  float: right;
  position: relative;
  top: -25px;
  cursor: pointer;
  transition: color, transform 500ms ease;

}

header .shop-cart .delete-icon:hover{
  color:red;
  transform: scale(1.5);
}

header .shop-cart .summa{
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  
}

header .presentaion{
  margin: 50px 0;
  background: url('./img/logo.png') no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: bisque;
  position: relative;
}

header .presentaion::after{
  content: 'Кращі товари для вас';
  position: absolute;
  top: 50px;
  left: 50px;
  width: 300px;
  font-size: 40px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

header .presentaion::before{
  content: 'за низькими цінами';
  position: absolute;
  top: 150px;
  left: 50px;
  width: 300px;
  font-size: 20px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.categories div{
  display: inline-block;
  background: #f5f3f3;
  border-radius: 50%;
  padding: 10px 20px;
  margin-bottom: 25px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 500ms ease;

}

.categories div:hover{
  border-color: bisque;
  transform: scale(1.1);
}

.full-item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0b0b0b66;
  z-index: 9999;
  overflow: auto;
}

.full-item > div{
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: #f5f3f3;
  border-radius: 9px;
}

main{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item{
  width: 30%;
  margin-bottom: 50px;
  background: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;

}

main .item img{
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
}

main .item img:hover{
  transform: scale(1.05) ;
}

main h2, main p{
  margin: 10px 20px;
  color:rgb(109, 113, 113);
}

main b{
  color: rgb(0, 0, 0);
}

main .add-to-card {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: red;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
}

main .add-to-card:hover{
  transform: scale(1.5) translateY(-5px);
}

footer{
  text-align: center;
  margin-top: 100px;
}